<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="9.0.0.11" targetFramework="wp8" />
  <package id="ExifLib" version="1.7.0.0" targetFramework="wp8" />
  <package id="LiveSDK" version="5.6.3" targetFramework="wp8" />
  <package id="Microsoft.Advertising.WindowsPhone.SL80" version="6.2.40501.1" targetFramework="wp8" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="wp8" />
</packages>